.calcBody{
    display: flex;
    height: 400px;
    width: 255px;
    background-color: lightgray;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.showBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

#showNum{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header{
    display: flex;
    justify-content: center;
}


#calcFace{
    display: flex;
    padding: 5px;
    flex-direction: row;
    height: 250px;
    width: 250px;

}

#numBed{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 8px;
    column-gap: 5px;
    align-content: center;
    justify-content: center; 
    
}

.numPad{
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.operation{
    padding: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.backspace{
    padding: 5px;
}

.clear{
    padding: 5px;
}

#oprBed{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 8px;
    column-gap: 5px;
    align-content: center;
    justify-content: center;
    
}

